[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "local/share/gh/extensions/gh-tidy"]
	path = local/share/gh/extensions/gh-tidy
	url = https://github.com/HaywardMorihara/gh-tidy
[submodule "config/nvim/pack/github/start/copilot.vim"]
	path = config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
