!cargo/config.toml
!config/Code/User/*.json
*.orig
*config/dconf/user*
*generated_completions*
.DS_Store
Trolltech.conf
cargo/
config/Chrome
config/Code
config/JetBrains
config/chromium
config/discord
config/fish/fish_variables
config/gh/hosts.yml
config/google-chrome
config/obsidian
config/pudb/internal-cmdline-history.txt
config/pudb/saved-breakpoints-*
config/yarn/global
config/zed/.*
config/zed/conversations
config/zed/embeddings
config/zed/prompts
fish_history
fish_history*
fish_read_history
fishd*
local/bin
local/lib/python*
local/pipx
local/share
local/share/heroku/client
local/state
