[submodule "local/share/gh/extensions/gh-tidy"]
	path = local/share/gh/extensions/gh-tidy
	url = https://github.com/HaywardMorihara/gh-tidy
[submodule "local/share/gh/extensions/gh-f"]
	path = local/share/gh/extensions/gh-f
	url = https://github.com/gennaro-tedesco/gh-f
[submodule "local/share/gh/extensions/gh-install"]
	path = local/share/gh/extensions/gh-install
	url = https://github.com/Mause/gh-install
	branch = patch-1
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "local/share/gh/extensions/gh-notify"]
	path = local/share/gh/extensions/gh-notify
	url = https://github.com/meiji163/gh-notify
