fish_history
fish_read_history
Trolltech.conf
*generated_completions*
*config/dconf/user*
fish_history*
fishd*
cargo/registry
cargo/git
local/pipx/venvs
local/share/virtualenv
local/state/pnpm
config/yarn/global
