fish_history
fish_read_history
Trolltech.conf
*generated_completions*
*config/dconf/user*
fish_history*
fishd*
cargo/
!cargo/config.toml
local/pipx/venvs
local/share/virtualenv
local/state/pnpm
config/yarn/global
config/Code/Cache
config/Code/CachedData
config/zed/conversations
config/zed/embeddings
config/zed/prompts
config/zed/.*
config/pudb/saved-breakpoints-*
config/pudb/internal-cmdline-history.txt
.DS_Store
